@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

html {
    border: 0 !important;
    margin: 0 !important;
}

body{
    background-color:#f0f3f5;
    border: 0;
    margin: 0;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: black;
}

/* Header */
.banner{
    margin:0 !important;
    border: 0px;
    height: 10rem;
    /* margin-bottom: 1rem; */
    padding: 0rem 5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    
}
.banner h6 {
    display: inline-block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.banner img{
    position: relative;
    height: 80%;
    width: auto;

}
#logo1{
    position: relative;
    height: 100%;
    width: auto;

}

#qtd_atraso {
    border-radius: 0.5%;
    
    width: 65%;
    position: relative;
    float: right;
    padding-top: 30px;
    
}

tr{
    
    color: rgb(0, 0, 0);
}



#div3{
    padding-top: 100px;
}